<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SmtpServidor" value="smtp.gmail.com" />
		<add key="Puerto" value="587" />
		<add key="Usuario" value="testingcorderosoftware@gmail.com" />
		<add key="Contrasena" value="a j t r y r s i m q j b m d a a" />
		<add key="UsarSsl" value="true" />
	</appSettings>
</configuration>